.price-tag-tag-quality_0 {
  color: #b2b2b2;
}
.price-tag-tag-quality_1 {
  color: #4d7455;
}
.price-tag-tag-quality_3 {
  color: #476291;
}
.price-tag-tag-quality_5 {
  color: #8650ac;
}
.price-tag-tag-quality_6 {
  color: #ffd700;
}
.price-tag-tag-quality_7 {
  color: #70b04a;
}
.price-tag-tag-quality_8 {
  color: #a50f79;
}
.price-tag-tag-quality_9 {
  color: #70b04a;
}
.price-tag-tag-quality_11 {
  color: #cf6a32;
}
.price-tag-tag-quality_13 {
  color: #38f3ab;
}
.price-tag-tag-quality_14 {
  color: #aa0000;
}
